/*font-family: Abel*/

@font-face {
    font-family: Abel;
    src: url('C:\Users\s707986\Desktop\blog web\fonts\Abel\Abel-Regular.ttf');
}

/*font-family: El_Messiri*/
@font-face {
    font-family: El_Messiri;
    src: url('C:\Users\s707986\Desktop\blog web\fonts\El_Messiri\ElMessiri-VariableFont_wght.ttf');
}
