

html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow: auto;
}

:root{

    /* theme color*/
    --pink: #C06A57;
    --lavender: #E4B1A5;
    --pp: #DD8470;
    --back: #EAD3CA;
    --amm: #AD5441;
    --floral: #DE8571;
    --Wheat: Wheat ;
    /*gradient color*/
    --sky: linear-gradient(to top, #C06A57 0%, #DD8470 100%);
}
/*-----------Global calasses-----------*/

a{
    text-decoration: none;
    color: var(--amm);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
}

h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
}

.container{
    margin: 0 5vw;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

span{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/*-----x-----Global calasses------x----*/

/*----------navbar------------*/

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
    
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons{
    font-size: 1.4rem;
    color: var(--amm);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-size: 1.1rem;
}

.nav-items .nav-link:hover{
    background-color: var(--amm);
}

.nav-items .nav-link:hover a{
    color: wheat;
}


.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color:var(--pp);
}
/*-------x----navbar------x------*/


/*------------------Main content---------------------*/


/*--------------site title---------------*/

main .site-title{
    background: url('../images/background.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
    padding: 1rem;

}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: white;
}

main .site-title h1, h3{
    margin: .3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: var(--sky);
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
}
/*--------x-----site title-------x-------*/

/*----------x--------blog carousel-------------------*/

main .blog{
    background: url('../images/background2\ \(2\).png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: 65%;
}



main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
    height: 8rem;
    width: 100%;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span{
    display: block;
}




/*----------x--------blog carousel-------------------*/

/*--------x---------Main content----------x----------*/



/*            view less than or equal to 750px          */

@media only screen and (max-width:750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }
    main .site-title h1{
        color:white;
        font-size:35px !important;
    }  
}

/*      x      view less than or equal to 750px       x   */

